/*------------------------------------------------------------------
[Gutenberg] - [Table of contents]

- Gutenberg frontend Custom Styling
/*------------------------------------------------------------------*/

/*FRONTEND COLORS*/
.single article .article-content .has-pale-pink-color{
    color: #F78DA7;
}
.single article .article-content .has-vivid-red-color{
    color: #CF2E2E;
}
.single article .article-content .has-luminous-vivid-orange-color{
    color: #F56500;
}
.single article .article-content .has-luminous-vivid-amber-color{
    color: #F3B200;
}
.single article .article-content .has-light-green-cyan-color{
    color: #7BDCB5;
}
.single article .article-content .has-vivid-green-cyan-color{
    color: #00D084;
}
.single article .article-content .has-pale-cyan-blue-color{
    color: #8DD0FB;
}
.single article .article-content .has-vivid-cyan-blue-color{
    color: #0693e3;
}
.single article .article-content .has-very-light-gray-color{
    color: #eeeeee;
}
.single article .article-content .has-cyan-bluish-gray-color{
    color: #abb8c3;
}
.single article .article-content .has-very-dark-gray-color{
    color: #313131;
}
.wp-block-image figcaption {
    font-size: 13px;
    margin: 20px !important;
    font-weight: 300;
}
a.wp-block-button__link {
    background-image: linear-gradient(to right, #647ECB,#D01498,#D01498,#647ECB);
    background-size: 300% 100% !important;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    overflow: visible;
    color: #fff !important;
    font-size: 14px !important;
    padding: 12px 25px;
    font-weight: 600 !important;
    transition: 250ms all ease;
}
a.wp-block-button__link:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover {
    color: #fff !important;
    background: #d01498;
}
.wp-block-button.is-style-outline .wp-block-button__link {
    background: transparent;
    border-color: #d01498;
    color: #d01498 !important;
}
.wp-block-quote.is-large {
    padding: 30px;
}
.wp-block-cover.has-background-dim.alignleft {
    margin-top: 6px;
}
body .status-panel-no-sidebar .alignfull {
    width: auto;
    max-width: 1000%;

    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
}
p[style="font-size:46px"] {
    line-height: normal !important;
}

.alignwide img,
.alignfull img {
    display: block;
    margin: 0 auto;
}
article .main-content ol li,
article .main-content ul li {
    color: #565656;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    opacity: 1;
    visibility: visible;
}
.single article .article-content p.wp-block-cover-text {
    font-size: 30px;
    color: #fff !important;
    line-height: 1.25;
}
.wp-block-gallery.is-cropped .blocks-gallery-item img,
figure.wp-block-image img {
    margin: auto;
}
body blockquote footer.blockquote-footer {
    background: transparent;
    padding-bottom: 0 !important;
}
.single.single-post .article-content p.form-submit {
    margin-bottom: 0px;
}
.wp-block-quote {
    margin: 0;
    padding: 0 0 0 25px !important;
}
.wp-caption.alignleft, .alignleft {
    margin-top: 10px;
}
.wp-block-button {
    margin-bottom: 20px;
    margin-top: 5px;
}
figure.wp-block-image,
.wp-block-cover.has-background-dim,
.wp-block-gallery,
.single.single-post .article-content blockquote.wp-block-quote,
blockquote.wp-block-quote,
blockquote.wp-block-quote.is-large,
.wp-block-code,
.wp-block-audio,
.wp-block-video,
.wp-block-preformatted,
.wp-block-verse,
.wp-block-table,
.wp-block-separator,
.wp-block-spacer,
.wp-block-categories,
.wp-block-embed,
.single.single-post .article-content p.wp-block-subhead,
p.wp-block-subhead   {
    margin-bottom: 60px;
    margin-top: 20px;
}
.wp-block-column p {
    margin-top: 15px;
}
.has-top-margin {
    margin-top: 60px;
}
.wp-block-embed-vimeo.wp-block-embed {
    margin-bottom: 0px;
}
blockquote footer, blockquote small, blockquote .small {
    background: transparent !important;
}
.wp-block-pullquote {
    border-top: 4px solid #555d66;
    border-bottom: 4px solid #555d66;
    color: #40464d;
}
.wp-block-pullquote blockquote {
    background: transparent;
    padding: 0 !important;
    text-align: center;
    border:0 !important;
}
.wp-block-pullquote blockquote p {
    font-size: 28px !important;
    line-height: 1.6 !important;
}
.wp-block-pullquote cite, .wp-block-pullquote footer, .wp-block-pullquote__citation {
    color: #454646;
    text-transform: uppercase;
    font-size: 17px;
    font-style: normal;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    max-width: 100px;
}
.wp-block-separator {
    border: none;
    border-bottom: 2px solid #8f98a1;
    margin: 1.65em auto;
}
embed, figure {
    margin-bottom: 30px !important;
}
.wp-caption.alignleft, .alignleft {
    margin-top: 5px;
}
.wp-block-latest-posts.wp-block-latest-posts__list li a, 
.wp-block-archives-list li a, 
.wp-block-categories-list li a, 
.wp-block-latest-comments li a,
.wp-block-rss li a  {
    font-size: 13px;
    color: #999;
}
.wp-block-gallery .blocks-gallery-item figcaption {
    background: rgba(0, 0, 0, .2) !important;
    padding: 5px 10px 5px !important;
}
.wp-block-gallery .blocks-gallery-item figure {
    margin-bottom: 0 !important;
}
.wp-block-column .wp-block-quote::before {
    display: none !important;
}
.page p:last-of-type img.size-full.wp-image-904.alignright {
    clear: both;
}
.wp-block-group.has-background {
    margin-bottom: 15px;
    padding: 40px;
}
.widget_calendar nav.wp-calendar-nav {
    background: transparent;
    text-align: left;
}
.wp-block-calendar nav {
    background: #fff;
}
.wp-block-latest-comments__comment-excerpt {
    display: flow-root;
}
.wp-block-tag-cloud {
    overflow: auto;
}
footer aside {
    margin-bottom: 60px;
}
footer aside:last-child {
    margin-bottom: 0px;
}
body .wp-block-latest-comments__comment {
    line-height: 20px;
    list-style: none;
    margin-bottom: 0px;
}
.wp-block-button.is-style-squared a, .wp-block-button__link.wp-block-button.is-style-squared a {
    border-radius: 0;
}
.alignright, .wp-caption.alignright {
    margin-top: 5px;
}
/*Since 5.8*/
li.wp-block-pages-list__item.has-child ul {
    padding-left: 20px;
}
.widget_block ul.wp-block-page-list {
    padding-left: 0;
}
.widget_block .wp-block-tag-cloud a{
    margin-right: 10px;
}

/*Block Recent Comments*/
.widget_block.widget_recent_comments ol footer.wp-block-latest-comments__comment-meta {
    background: transparent;
}
.widget_block.widget_recent_comments ol {
    padding: 0;
}
.widget_block.widget_recent_comments ol footer.wp-block-latest-comments__comment-meta > a {
    font-weight: 500;
    color: #000;
}