/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/**
 * 
 * 
 /* 1.GENERAL STYLING */
/* CLEARFIX */
.clearfix {
	clear: both;
}
.clearfix:before, .clearfix:after {
	content: " ";
    display: table;
}

/*HIGH PADDING*/
.row.high-padding,
.row.high-padding {
    padding: 80px 0;
}

/*WP BAKERY ROW ALIGNWIDE*/
.vc_row.alignwide {
    margin-left: auto;
    margin-right: auto;
}

/* BREADCRUMBS */
.nft_marketplace_core-breadcrumbs {
    padding: 30px 0 30px;
    border-bottom: 1px solid #efeeea;
}
.nft_marketplace_core-breadcrumbs .row {
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}
.nft_marketplace_core-breadcrumbs .row div {
    padding-left: 0px;
    text-align: left;
}
.nft_marketplace_core-breadcrumbs h1 {
    margin: 5px 0;
}
.nft_marketplace_core-breadcrumbs h1 span, 
.nft_marketplace_core-breadcrumbs h1 {
    font-weight: 600;
    line-height: 42px;
    font-size: 35px;
}
.nft_marketplace_core-breadcrumbs .breadcrumb {
    background: transparent;
    margin-bottom: 0px;
    padding-right: 0;
    font-size: 14px;
}
.nft_marketplace_core-breadcrumbs .breadcrumb {
    color: #777;
}
.nft_marketplace_core-breadcrumbs .breadcrumb {
    font-size: 16px;
    padding: 0;
    line-height: 30px;
}
.nft_marketplace_core-breadcrumbs .breadcrumb li {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
}
.nft_marketplace_core-breadcrumbs .breadcrumb li a {
    transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
}
.nft_marketplace_core-breadcrumbs .breadcrumb a {
    color: #606060 !important;
}
.nft_marketplace_core-breadcrumbs .breadcrumb a::after {
    content: "/";
}
.nft_marketplace_core-breadcrumbs .breadcrumb a::after {
    color: #ccc;
    margin-left: 5px;
}
.nft_marketplace_core-breadcrumbs .breadcrumb .active {
    color: #606060;
}
/* 2. NFT LISTING TAXONOMY */
.nft-listing-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    overflow: hidden;
    margin-bottom: 30px;
    padding: 20px;
    padding-bottom: 0px;
    transition: all 250ms ease-in-out 0s;
    -webkit-transition: all 250ms ease-in-out 0s;
}
.nft-listing-wrapper:hover img {
    filter: brightness(0.5);
}
.nft-listing .nft-listing-image a.button {
    opacity: 0;
    margin-top: 150px !important;
    width: auto;
    padding: 10px 25px !important;
    color: #FFF;
    font-weight: bold;
    border: 0 none;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 250ms ease-in-out 0s;
    -webkit-transition: all 250ms ease-in-out 0s;
    background: #d01498;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.nft-listing-wrapper a.nft-listing-media {
    position: relative;
    display: block;
}
.nft-listing-wrapper:hover a.button{
    visibility: visible;
    opacity: 1;
    margin-top: 130px !important;
} 
.nft-listing-name {
    padding: 18px 10px 0px;
    text-align: left;
    width: 100%;
    background: #fff;
    margin-top: 0;
}
.nft-listing-name a {
    align-self: center;
    color: #484848 !important;
    display: block;
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    width: 100%;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
}
.nft-listing-wrapper .details-container {
    width: 100%;
    text-align: left;
    padding-top: 0px;
    padding-left: 10px;
}
.nft-listing-wrapper .details-container span {
    font-weight: 500;
    font-size: 14px;
    color: #909090;
}
.nft-listing-wrapper .details-container span.nft-listing-price {
    color: #484848;
    font-weight: 700;
    width: 100%;
    float: left;
    font-size: 15px;
}
.nft-listing-wrapper .title-wrapper {
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
/* SINGLE NFT LISTING */
.nft-listing-infos-wrapper {
    display: flex;
}
.nft-listing-views-counter {
    margin-right: 25px;
    display: flex;
    align-items: center;
}
.nft-listing-owner {
    font-weight: 400;
    font-size: 16px;
    color: #606060;
    margin-right: 25px;
}
.single-nft .nft_title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 5px;
}
.nft-listing-crypto-price {
    color: #242424;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0px;
    font-size: 25px;
    margin-top: 30px;
}
.nft-entry-summary .nft-listing-wishlist span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: #606060;
}
.nft-entry-summary .nft-listing-wishlist a {
    margin-top: 0px !important;
}
.nft-entry-summary .nft-listing-wishlist {
    display: flex;
    float: left;
    margin-right: 20px;
    align-items: flex-end;
}
.nft-listing-views-counter span {
    font-size: 16px;
    margin-left: 8px;
    line-height: 10px;
    vertical-align: text-top;
    font-weight: 400;
    color: #606060;
}
.nft-listing-views-counter i {
    font-size: 20px;
    margin-top: 0;
    line-height: 0px;
    color: #606060;
}
section.related.nft-listing {
    margin-top: 50px;
}
.related.nft-listing > h3 {
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 23px;
    line-height: 1.2;
    margin-bottom: 25px;
}
.single-nft .main-content {
    margin-bottom: 50px;
}
.container.blog-posts.single-nft {
    padding-bottom: 0px;
}
.nft-listing-meta span {
    color: #606060;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 400;
}
.nft-listing-collection p {
    font-size: 13px;
    margin-bottom: 0px;
    font-weight: 600;
}
.nft-listing-collection {
    margin-bottom: 30px;
}
.nft-listing-collection img {
    border-radius: 5px;
    margin-right: 10px;
}
body .nft-listing-meta a {
    color: #222;
    font-size: 14px;
    font-weight: bold;
}
.nft-listing-meta div {
    margin-bottom: 10px;
    color: #222;
    font-weight: bold;
}
.single-collection-title a {
    color: #222;
}
.single-nft .single_nft_button{
    border: none !important;
    background: #222;
    border-radius: 5px;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    height: 40px;
    width: auto;
    line-height: 40px;
    padding: 0px 25px!important;
    margin-right: 10px;
    outline: none;
    width: auto;
    margin-bottom: 30px !important;
}
.nft-listing-tabs ul.listed-author-info {
    display: inline-block;
}
.nft-listing-tabs .author-socials {
    position: relative;
}
.nft-listing-tabs ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    list-style: none;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.nft-listing-tabs .properties-item {
    display: inline-block;
    background: #fff5fc;
    margin-right: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 135px;
    border: 1px solid #d01498;
}
.nft-listing-tabs span.properties-item-value {
    color: rgb(53, 56, 64);
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
}
.nft-listing-tabs span.properties-item-name {
    color: #d01498;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}
.nft-listing-tabs ol {
    list-style: none;
    padding-left: 0px;
}
.nft-listing-tabs section#tab-levels p {
    margin-top: 10px;
}
.nft-listing-tabs ol li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.nft-listing-tabs section#tab-stats,
.nft-listing-tabs section#tab-levels {
    padding: 10px 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.nft-listing-tabs section#tab-stats span,
.nft-listing-tabs section#tab-levels span {
    font-weight: 600;
    color: #222;
    font-size: 16px;
}
.nft-listing-tabs span.properties-item-name, 
.nft-listing-tabs .properties-item-value {
    display: block;
    text-align: center;
}
.nft-listing-tabs ul li {
    width: 25% !important;
    margin: 0px;
    text-align: center;
}
.nft-listing-tabs ul:after {
    width: 100%;
    background: #ccc;
    height: 1px;
    bottom: 0;
    position: absolute;
}
.nft-listing-tabs ul li a {
    color: #9e9e9e;
    font-weight: 500;
    font-size: 14px;
}
.nft-listing-tabs ul li.tab-active a,
.nft-listing-tabs ul li a:hover {
    color: #000;
    font-weight: 600;
}
.nft-listing-author img {
    float: left;
}
.nft-listing-author h4 {
    padding: 15px 0px 10px;
}
.nft-listing-author ul.listed-author-info {
    border: none !important;
    text-align: left;
    overflow: visible;
}
.nft-listing-tabs ul.listed-author-info li a {
    padding: 7px 10px;
}
.nft-listing-author ul.listed-author-info li {
    width: 5% !important;
    margin: 0px;
    margin-right: 5px !important;
    text-align: left;
}
.nft-listing-crypto-price .nft-listing-crypto-usd {
    font-size: 20px;
    font-weight: 400;
    color: #606060;
}
.nft-listing-crypto-price .nft-listing-crypto-usd::before {
    content: "(";
}
.nft-listing-crypto-price .nft-listing-crypto-usd::after {
    content: ")";
}
/* TAXONOMY NFT */
.nft-sidebar-title {
    font-weight: 600;
    margin-top: 0px;
}
#sidebar .nft-marketplace-categories li {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    list-style: none;
    padding: 5px 0px;
}
#sidebar .nft-marketplace-categories li a {
    color: #8b8b8a;
}
.nft-marketplace-taxonomy-ordering {
    margin-bottom: 30px;
}
.nft-marketplace-taxonomy-count {
    padding-top: 10px;
    padding-bottom: 10px;
}
.nft-listing-wishlist span {
    display: none;
}
.nft-listing-wishlist a {
    padding: 0px !important;
    background: transparent;
    margin-top: 17px !important;
    margin-right: 10px;
    height: auto;
    position: relative;
    display: block;
}
.nft-listing-wishlist a i::before {
    font-weight: bold;
}
.nft-marketplace-search-bar input {
    border: 1px solid #cccccc;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    outline: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.nft-listing-wishlist a i {
    color: #606060;
    font-weight: 600;
    font-size: 16px;
}
.nft-marketplace-search-bar button {
    color: #222;
    position: absolute;
    bottom: 0px;
    padding: 15px;
    border-radius: 25px;
    background: transparent;
    right: 1px;
    font-size: 15px;
    box-shadow: none;
    display: block;
    border: 0;
    outline: 0;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
.nft-marketplace-search-bar {
    position: relative;
    margin-bottom: 50px;
}

/* SINGLE AUTHOR*/
.author-details-wrapper {
    text-align: center;
}
.author-details-wrapper .avatar.photo{
    margin: 0px;
    width: 120px;
    max-width: 120px;
    border-radius: 50%;
    border: 5px solid #fff;
}
.author-details-wrapper .author-avatar {
    position: absolute;
    top: -130px;
    right: 45.5%;
}
.author-details-wrapper {
    padding-bottom: 50px;
}
.author-description {
    max-width: 550px;
    margin: 0px auto;
}
.author-fullwidth-banner {
    padding: 150px 0px;
}
.author-details-wrapper .author-name h3 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 0px;
}
.author-description .author-eth-address {
    border-radius: 40px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    width: 260px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.author-socials li a {
    font-size: 22px;
    border: 1px solid;
    padding: 5px 9px;
    border-radius: 50px;
}
.author-eth-address img {
    margin-right: 5px;
}
.author-socials li {
    display: inline;
    position: relative;
    margin-bottom: 5px;
    margin-right: 5px;
    line-height: 24px;
}
.author-socials ul {
    padding-left: 0px;
}
.author-socials {
    position: absolute;
    right: 0;
    top: 0;
}

/* EDIT AUTHOR INFO*/
.author-edit-fields-wrapper {
    max-width: 700px;
    margin: 0 auto;
}
.author-edit-title {
    margin-bottom: 50px;
}
.author-edit-fields-wrapper .upload-images {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}
.author-edit-fields-wrapper .spacer-upload {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 25%;
    position: relative;
    margin-top: 5px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
.author-edit-fields-wrapper input[type=text] {
    padding: 0 30px!important;
    height: 50px;
    width: 100%;
    border-radius: 5px!important;
    background: #fff;
    margin-bottom: 30px!important;
    font-size: 15px;
    border: 1px solid #bfbfbf;
    color: rgba(96,96,96,.7);
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    font-style: normal;
    margin-top: 5px;
    font-weight: 300;
}
.author-edit-fields-wrapper button.button-listing{
    padding: 15px 40px!important;
    margin: 10px 0!important;
    font-size: 15px!important;
    line-height: 16px!important;
    -webkit-transform: translateZ(0);
    overflow: hidden;
    position: relative;
    background-color: #D01498;
    text-align: center;
    padding: 15px 40px;
    color: #fff;
    font-size: 16px;
    display: block;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    font-weight: 700;
    outline: 0;
    border: 0;
    border-radius: 5px;
}
.author-edit-fields-wrapper .spacer-upload::before {
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    background: url(../../includes/frontend-media/img/addphoto-listing.png) center no-repeat;
    background-size: 60px;
    height: 100%;
    left: 4px;
    top: -15px;
    width: 100%;
}
.author-edit-fields-wrapper .text {
    color: gray;
    content: "";
    font-size: 15px;
    left: 50%;
    margin-top: 30px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 3;
}
.author-edit-fields-wrapper .spacer-upload:after {
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    border: 15px solid #fff;
    border-bottom-color: #e0e0e0;
    border-bottom-left-radius: 4px;
    border-left-color: #e0e0e0;
    right: -1px;
    top: -1px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
.author-edit-fields-wrapper .group_pictures_holder img {
    max-height: 150px;
    width: 100%;
}
.author-edit-fields-wrapper .group_pictures_holder .delete {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #216fff;
    color: #fff;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}
.author-edit-fields-wrapper .group_pictures_holder .col-md-4:hover .delete {
    opacity: 1;
    visibility: visible;
}
.author-edit-fields-wrapper .col-md-4.single-featured-media {
    margin-top: 20px;
    margin-bottom: 30px;
}